pre {
  margin: 0 1rem;
  height: 24rem;
}

pre,
textarea {
  font-family: Consolas, monospace;
  background-color: #1E1E1E;
  color: #E6E6E6;
  padding: 0.2em 0.4em;
  font-size: 1em;
  width: 30rem;
  font-family: 'Consolas', 'Courier New', monospace;
  border-radius: 0.5em;
}
code {
  padding: 1rem;
}

textarea {
  border: none;
  resize: none;
  font-size: 16px;
  height: 10rem;
  width: 25rem;
  line-height: 1.5;
}

.div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  align-items: center;
}

.divVSandConsole {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

textarea:focus {
  outline: none;
}



.consoleName {
  color: #c2e1eb;
}

.consoleText {
  color: #98c379;
}

.x {
  color: #93a3bc;
  margin: 0 1rem;
  cursor: pointer;
}

.console {
  font-weight: 600;
  background-color: black;
  color: white;
  font-family: monospace;
  padding: 1em;
  margin: 0 1rem;
  width: 30rem;
  border-radius: 0.5em;
}

.console-line {
  padding: 0.5em 0;
}

.incorrect {
  color: red;
}




.code .keyword {
  color: #f92672;
}

.code .function-name {
  color: #a6e22e;
}

.code .parameter {
  color: #ff00008a;
}

.code .string {
  color: orange;
}